{
  "openapi": "3.1.0",
  "info": {
    "title": "BRDG API",
    "version": "1.0.0",
    "description": "Quote, build, submit and track cross-chain transfers across every venue BRDG aggregates."
  },
  "servers": [
    {
      "url": "https://api.brdg.now/v1"
    }
  ],
  "components": {
    "schemas": {
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "atomic": {
            "type": "string",
            "nullable": true
          },
          "chain": {
            "type": "string",
            "enum": [
              "ethereum",
              "arbitrum",
              "optimism",
              "base",
              "polygon",
              "bnb",
              "avalanche",
              "linea",
              "scroll",
              "zksync",
              "mantle",
              "blast",
              "mode",
              "gnosis",
              "celo",
              "unichain",
              "sonic",
              "ink",
              "plume",
              "worldchain",
              "monad",
              "sei",
              "xlayer",
              "plasma",
              "berachain",
              "hyperevm",
              "stable",
              "robinhood",
              "arc",
              "fantom",
              "zircuit",
              "lisk",
              "soneium",
              "abstract",
              "taiko",
              "metis",
              "moonbeam",
              "aurora",
              "cronos",
              "opbnb",
              "ronin",
              "rootstock",
              "citrea",
              "botanix",
              "katana",
              "solana",
              "fogo",
              "eclipse",
              "bitcoin",
              "litecoin",
              "dogecoin",
              "bitcoincash",
              "zcash",
              "dash",
              "sui",
              "aptos",
              "movement",
              "starknet",
              "tron",
              "ton",
              "stellar",
              "cardano",
              "xrpl",
              "near",
              "algorand",
              "polkadot",
              "assethub",
              "injective",
              "noble",
              "osmosis",
              "cosmoshub",
              "hypercore",
              "lighter"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "failed",
              "not_configured",
              "ok",
              "unsupported"
            ]
          },
          "token": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "atomic",
          "chain",
          "status",
          "token"
        ]
      },
      "BalanceErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "unauthorized",
              "wallet_not_yours"
            ]
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "BalanceRequest": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "chain": {
            "type": "string",
            "enum": [
              "ethereum",
              "arbitrum",
              "optimism",
              "base",
              "polygon",
              "bnb",
              "avalanche",
              "linea",
              "scroll",
              "zksync",
              "mantle",
              "blast",
              "mode",
              "gnosis",
              "celo",
              "unichain",
              "sonic",
              "ink",
              "plume",
              "worldchain",
              "monad",
              "sei",
              "xlayer",
              "plasma",
              "berachain",
              "hyperevm",
              "stable",
              "robinhood",
              "arc",
              "fantom",
              "zircuit",
              "lisk",
              "soneium",
              "abstract",
              "taiko",
              "metis",
              "moonbeam",
              "aurora",
              "cronos",
              "opbnb",
              "ronin",
              "rootstock",
              "citrea",
              "botanix",
              "katana",
              "solana",
              "fogo",
              "eclipse",
              "bitcoin",
              "litecoin",
              "dogecoin",
              "bitcoincash",
              "zcash",
              "dash",
              "sui",
              "aptos",
              "movement",
              "starknet",
              "tron",
              "ton",
              "stellar",
              "cardano",
              "xrpl",
              "near",
              "algorand",
              "polkadot",
              "assethub",
              "injective",
              "noble",
              "osmosis",
              "cosmoshub",
              "hypercore",
              "lighter"
            ]
          },
          "token": {
            "type": "string",
            "nullable": true,
            "minLength": 1,
            "maxLength": 128,
            "default": null
          }
        },
        "required": [
          "address",
          "chain"
        ]
      },
      "PortfolioResponse": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PortfolioRow"
            }
          }
        },
        "required": [
          "rows"
        ]
      },
      "PortfolioRow": {
        "type": "object",
        "properties": {
          "atomic": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "failed",
              "not_configured",
              "ok",
              "unsupported"
            ]
          }
        },
        "required": [
          "atomic",
          "status"
        ]
      },
      "PortfolioRequest": {
        "type": "object",
        "properties": {
          "chains": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ethereum",
                "arbitrum",
                "optimism",
                "base",
                "polygon",
                "bnb",
                "avalanche",
                "linea",
                "scroll",
                "zksync",
                "mantle",
                "blast",
                "mode",
                "gnosis",
                "celo",
                "unichain",
                "sonic",
                "ink",
                "plume",
                "worldchain",
                "monad",
                "sei",
                "xlayer",
                "plasma",
                "berachain",
                "hyperevm",
                "stable",
                "robinhood",
                "arc",
                "fantom",
                "zircuit",
                "lisk",
                "soneium",
                "abstract",
                "taiko",
                "metis",
                "moonbeam",
                "aurora",
                "cronos",
                "opbnb",
                "ronin",
                "rootstock",
                "citrea",
                "botanix",
                "katana",
                "solana",
                "fogo",
                "eclipse",
                "bitcoin",
                "litecoin",
                "dogecoin",
                "bitcoincash",
                "zcash",
                "dash",
                "sui",
                "aptos",
                "movement",
                "starknet",
                "tron",
                "ton",
                "stellar",
                "cardano",
                "xrpl",
                "near",
                "algorand",
                "polkadot",
                "assethub",
                "injective",
                "noble",
                "osmosis",
                "cosmoshub",
                "hypercore",
                "lighter"
              ]
            },
            "maxItems": 73
          },
          "address": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        }
      }
    },
    "parameters": {}
  },
  "paths": {
    "/bridge/quote": {
      "post": {
        "summary": "Get quote",
        "description": "Price a transfer across every venue that serves it. `best` is the row `build` executes by default; `bestByPrice` and `bestByTime` name rows in `quotes` by `quoteId`; `rejected` lists venues that could not price it, with a reason. Every `amountOutAtomic` is already net of the platform fee. Send `sender`, and `recipient` when the destination uses a different address format. Send `userIp` when calling on behalf of your users. `indicative: true` is comparison pricing and cannot be built.",
        "tags": [
          "bridge"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fromChain": {
                    "type": "string",
                    "enum": [
                      "ethereum",
                      "arbitrum",
                      "optimism",
                      "base",
                      "polygon",
                      "bnb",
                      "avalanche",
                      "linea",
                      "scroll",
                      "zksync",
                      "mantle",
                      "blast",
                      "mode",
                      "gnosis",
                      "celo",
                      "unichain",
                      "sonic",
                      "ink",
                      "plume",
                      "worldchain",
                      "monad",
                      "sei",
                      "xlayer",
                      "plasma",
                      "berachain",
                      "hyperevm",
                      "stable",
                      "robinhood",
                      "arc",
                      "fantom",
                      "zircuit",
                      "lisk",
                      "soneium",
                      "abstract",
                      "taiko",
                      "metis",
                      "moonbeam",
                      "aurora",
                      "cronos",
                      "opbnb",
                      "ronin",
                      "rootstock",
                      "citrea",
                      "botanix",
                      "katana",
                      "solana",
                      "fogo",
                      "eclipse",
                      "bitcoin",
                      "litecoin",
                      "dogecoin",
                      "bitcoincash",
                      "zcash",
                      "dash",
                      "sui",
                      "aptos",
                      "movement",
                      "starknet",
                      "tron",
                      "ton",
                      "stellar",
                      "cardano",
                      "xrpl",
                      "near",
                      "algorand",
                      "polkadot",
                      "assethub",
                      "injective",
                      "noble",
                      "osmosis",
                      "cosmoshub",
                      "hypercore",
                      "lighter"
                    ]
                  },
                  "toChain": {
                    "type": "string",
                    "enum": [
                      "ethereum",
                      "arbitrum",
                      "optimism",
                      "base",
                      "polygon",
                      "bnb",
                      "avalanche",
                      "linea",
                      "scroll",
                      "zksync",
                      "mantle",
                      "blast",
                      "mode",
                      "gnosis",
                      "celo",
                      "unichain",
                      "sonic",
                      "ink",
                      "plume",
                      "worldchain",
                      "monad",
                      "sei",
                      "xlayer",
                      "plasma",
                      "berachain",
                      "hyperevm",
                      "stable",
                      "robinhood",
                      "arc",
                      "fantom",
                      "zircuit",
                      "lisk",
                      "soneium",
                      "abstract",
                      "taiko",
                      "metis",
                      "moonbeam",
                      "aurora",
                      "cronos",
                      "opbnb",
                      "ronin",
                      "rootstock",
                      "citrea",
                      "botanix",
                      "katana",
                      "solana",
                      "fogo",
                      "eclipse",
                      "bitcoin",
                      "litecoin",
                      "dogecoin",
                      "bitcoincash",
                      "zcash",
                      "dash",
                      "sui",
                      "aptos",
                      "movement",
                      "starknet",
                      "tron",
                      "ton",
                      "stellar",
                      "cardano",
                      "xrpl",
                      "near",
                      "algorand",
                      "polkadot",
                      "assethub",
                      "injective",
                      "noble",
                      "osmosis",
                      "cosmoshub",
                      "hypercore",
                      "lighter"
                    ]
                  },
                  "fromToken": {
                    "type": "string",
                    "nullable": true,
                    "minLength": 1,
                    "maxLength": 128,
                    "default": null
                  },
                  "toToken": {
                    "type": "string",
                    "nullable": true,
                    "minLength": 1,
                    "maxLength": 128,
                    "default": null
                  },
                  "amountAtomic": {
                    "type": "string",
                    "pattern": "^[1-9][0-9]{0,77}$"
                  },
                  "tradeType": {
                    "type": "string",
                    "enum": [
                      "EXACT_IN",
                      "MIN_OUT",
                      "EXACT_OUT"
                    ],
                    "default": "EXACT_IN"
                  },
                  "slippageBps": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 5000,
                    "default": 100
                  },
                  "sender": {
                    "type": "string",
                    "minLength": 26,
                    "maxLength": 600
                  },
                  "recipient": {
                    "type": "string",
                    "minLength": 26,
                    "maxLength": 600
                  },
                  "refundAddress": {
                    "type": "string",
                    "minLength": 26,
                    "maxLength": 600
                  },
                  "indicative": {
                    "type": "boolean",
                    "default": false
                  },
                  "referralWallet": {
                    "type": "string",
                    "minLength": 26,
                    "maxLength": 600
                  },
                  "referralBps": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 15
                  },
                  "privacy": {
                    "type": "boolean",
                    "default": false
                  },
                  "autoTwapOptOut": {
                    "type": "boolean",
                    "default": false
                  },
                  "userIp": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "ip"
                      },
                      {
                        "type": "string",
                        "format": "ip"
                      }
                    ]
                  }
                },
                "required": [
                  "fromChain",
                  "toChain",
                  "amountAtomic"
                ]
              },
              "example": {
                "fromChain": "base",
                "toChain": "solana",
                "fromToken": "USDC",
                "toToken": "USDC",
                "amountAtomic": "100000000",
                "sender": "0x58E602386DB134b1F9B1d6d390C11A2B7b486677",
                "recipient": "3BQtHR41iDPiu9skeSVzmBDpZKcKqEEDnMn6UkbAHvZz"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The ranked table, the winner, and the fee disclosure",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "decisionId": {
                      "type": "string"
                    },
                    "quoteSessionId": {
                      "type": "string"
                    },
                    "best": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "venue": {
                          "type": "string"
                        },
                        "executable": {
                          "type": "boolean"
                        },
                        "eligibility": {
                          "type": "string",
                          "enum": [
                            "ok",
                            "not_executable",
                            "ttl_too_short",
                            "unpriced",
                            "below_min",
                            "above_max",
                            "venue_error",
                            "implausible",
                            "stale"
                          ]
                        },
                        "amountInAtomic": {
                          "type": "string"
                        },
                        "amountOutAtomic": {
                          "type": "string"
                        },
                        "minAmountOutAtomic": {
                          "type": "string"
                        },
                        "netOutAtomic": {
                          "type": "string",
                          "nullable": true
                        },
                        "netInAtomic": {
                          "type": "string",
                          "nullable": true
                        },
                        "rankBasis": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "netOutAtomic",
                            "netInAtomic",
                            null
                          ]
                        },
                        "rankAtomic": {
                          "type": "string",
                          "nullable": true
                        },
                        "fees": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "kind": {
                                "type": "string",
                                "enum": [
                                  "PROTOCOL",
                                  "SOLVER",
                                  "ORIGIN_GAS",
                                  "DESTINATION_GAS",
                                  "APP",
                                  "VENUE_OTHER"
                                ]
                              },
                              "tokenAddress": {
                                "type": "string",
                                "nullable": true
                              },
                              "decimals": {
                                "type": "integer"
                              },
                              "amountAtomic": {
                                "type": "string"
                              },
                              "amountUsd": {
                                "type": "number"
                              },
                              "deductedFrom": {
                                "type": "string",
                                "enum": [
                                  "input",
                                  "output",
                                  "gas"
                                ]
                              },
                              "label": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "kind",
                              "tokenAddress",
                              "decimals",
                              "amountAtomic",
                              "deductedFrom"
                            ]
                          }
                        },
                        "feeBps": {
                          "type": "integer"
                        },
                        "feeAmountAtomic": {
                          "type": "string"
                        },
                        "referralFeeAmountAtomic": {
                          "type": "string"
                        },
                        "netOutAfterFeeAtomic": {
                          "type": "string",
                          "nullable": true
                        },
                        "amountInNetAtomic": {
                          "type": "string"
                        },
                        "tierSavedBps": {
                          "type": "integer",
                          "nullable": true
                        },
                        "estimatedSeconds": {
                          "type": "integer",
                          "nullable": true
                        },
                        "expiresAt": {
                          "type": "integer"
                        },
                        "quoteId": {
                          "type": "string"
                        },
                        "postStep": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": [
                                "hypercore_deposit"
                              ]
                            },
                            "chain": {
                              "type": "string",
                              "enum": [
                                "arbitrum"
                              ]
                            },
                            "vm": {
                              "type": "string",
                              "enum": [
                                "evm"
                              ]
                            }
                          },
                          "required": [
                            "kind",
                            "chain",
                            "vm"
                          ]
                        }
                      },
                      "required": [
                        "venue",
                        "executable",
                        "eligibility",
                        "amountInAtomic",
                        "amountOutAtomic",
                        "minAmountOutAtomic",
                        "netOutAtomic",
                        "netInAtomic",
                        "rankBasis",
                        "rankAtomic",
                        "fees",
                        "feeBps",
                        "feeAmountAtomic",
                        "referralFeeAmountAtomic",
                        "netOutAfterFeeAtomic",
                        "amountInNetAtomic",
                        "tierSavedBps",
                        "estimatedSeconds",
                        "expiresAt",
                        "quoteId",
                        "postStep"
                      ]
                    },
                    "bestByPrice": {
                      "type": "string",
                      "nullable": true
                    },
                    "bestByTime": {
                      "type": "string",
                      "nullable": true
                    },
                    "quotes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "venue": {
                            "type": "string"
                          },
                          "executable": {
                            "type": "boolean"
                          },
                          "eligibility": {
                            "type": "string",
                            "enum": [
                              "ok",
                              "not_executable",
                              "ttl_too_short",
                              "unpriced",
                              "below_min",
                              "above_max",
                              "venue_error",
                              "implausible",
                              "stale"
                            ]
                          },
                          "amountInAtomic": {
                            "type": "string"
                          },
                          "amountOutAtomic": {
                            "type": "string"
                          },
                          "minAmountOutAtomic": {
                            "type": "string"
                          },
                          "netOutAtomic": {
                            "type": "string",
                            "nullable": true
                          },
                          "netInAtomic": {
                            "type": "string",
                            "nullable": true
                          },
                          "rankBasis": {
                            "type": "string",
                            "nullable": true,
                            "enum": [
                              "netOutAtomic",
                              "netInAtomic",
                              null
                            ]
                          },
                          "rankAtomic": {
                            "type": "string",
                            "nullable": true
                          },
                          "fees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "kind": {
                                  "type": "string",
                                  "enum": [
                                    "PROTOCOL",
                                    "SOLVER",
                                    "ORIGIN_GAS",
                                    "DESTINATION_GAS",
                                    "APP",
                                    "VENUE_OTHER"
                                  ]
                                },
                                "tokenAddress": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "decimals": {
                                  "type": "integer"
                                },
                                "amountAtomic": {
                                  "type": "string"
                                },
                                "amountUsd": {
                                  "type": "number"
                                },
                                "deductedFrom": {
                                  "type": "string",
                                  "enum": [
                                    "input",
                                    "output",
                                    "gas"
                                  ]
                                },
                                "label": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "kind",
                                "tokenAddress",
                                "decimals",
                                "amountAtomic",
                                "deductedFrom"
                              ]
                            }
                          },
                          "feeBps": {
                            "type": "integer"
                          },
                          "feeAmountAtomic": {
                            "type": "string"
                          },
                          "referralFeeAmountAtomic": {
                            "type": "string"
                          },
                          "netOutAfterFeeAtomic": {
                            "type": "string",
                            "nullable": true
                          },
                          "amountInNetAtomic": {
                            "type": "string"
                          },
                          "tierSavedBps": {
                            "type": "integer",
                            "nullable": true
                          },
                          "estimatedSeconds": {
                            "type": "integer",
                            "nullable": true
                          },
                          "expiresAt": {
                            "type": "integer"
                          },
                          "quoteId": {
                            "type": "string"
                          },
                          "postStep": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "kind": {
                                "type": "string",
                                "enum": [
                                  "hypercore_deposit"
                                ]
                              },
                              "chain": {
                                "type": "string",
                                "enum": [
                                  "arbitrum"
                                ]
                              },
                              "vm": {
                                "type": "string",
                                "enum": [
                                  "evm"
                                ]
                              }
                            },
                            "required": [
                              "kind",
                              "chain",
                              "vm"
                            ]
                          }
                        },
                        "required": [
                          "venue",
                          "executable",
                          "eligibility",
                          "amountInAtomic",
                          "amountOutAtomic",
                          "minAmountOutAtomic",
                          "netOutAtomic",
                          "netInAtomic",
                          "rankBasis",
                          "rankAtomic",
                          "fees",
                          "feeBps",
                          "feeAmountAtomic",
                          "referralFeeAmountAtomic",
                          "netOutAfterFeeAtomic",
                          "amountInNetAtomic",
                          "tierSavedBps",
                          "estimatedSeconds",
                          "expiresAt",
                          "quoteId",
                          "postStep"
                        ]
                      }
                    },
                    "amountInNetAtomic": {
                      "type": "string"
                    },
                    "rejected": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "venue": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "venue",
                          "code",
                          "message"
                        ]
                      }
                    },
                    "privacy": {
                      "type": "boolean"
                    },
                    "emptyReason": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "no_private_route",
                        "not_priceable",
                        null
                      ]
                    },
                    "fees": {
                      "type": "object",
                      "properties": {
                        "platform": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "bps": {
                              "type": "integer"
                            },
                            "amountAtomic": {
                              "type": "string"
                            },
                            "asset": {
                              "type": "string",
                              "nullable": true
                            },
                            "tierSavedBps": {
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "required": [
                            "bps",
                            "amountAtomic",
                            "asset",
                            "tierSavedBps"
                          ]
                        },
                        "referral": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "bps": {
                              "type": "integer"
                            },
                            "amountAtomic": {
                              "type": "string"
                            },
                            "asset": {
                              "type": "string",
                              "nullable": true
                            },
                            "wallet": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "bps",
                            "amountAtomic",
                            "asset",
                            "wallet"
                          ]
                        }
                      },
                      "required": [
                        "platform",
                        "referral"
                      ]
                    },
                    "splitPlan": {
                      "type": "object",
                      "properties": {
                        "splitGroupId": {
                          "type": "string"
                        },
                        "legs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "venue": {
                                "type": "string"
                              },
                              "decisionId": {
                                "type": "string"
                              },
                              "amountInAtomic": {
                                "type": "string"
                              },
                              "amountInNetAtomic": {
                                "type": "string"
                              },
                              "amountOutAtomic": {
                                "type": "string"
                              },
                              "expiresAt": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "venue",
                              "decisionId",
                              "amountInAtomic",
                              "amountInNetAtomic",
                              "amountOutAtomic",
                              "expiresAt"
                            ]
                          },
                          "minItems": 2
                        },
                        "totalInAtomic": {
                          "type": "string"
                        },
                        "improvementBps": {
                          "type": "number"
                        },
                        "maxSignatures": {
                          "type": "integer",
                          "minimum": 0,
                          "exclusiveMinimum": true
                        },
                        "expiresAt": {
                          "type": "integer"
                        },
                        "indicative": {
                          "type": "boolean"
                        },
                        "baseline": {
                          "type": "object",
                          "properties": {
                            "venue": {
                              "type": "string"
                            },
                            "netOut": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "venue",
                            "netOut"
                          ]
                        },
                        "measuredImpactBps": {
                          "type": "number"
                        },
                        "fees": {
                          "type": "object",
                          "properties": {
                            "bps": {
                              "type": "integer"
                            },
                            "amountInNetAtomic": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "bps",
                            "amountInNetAtomic"
                          ]
                        }
                      },
                      "required": [
                        "splitGroupId",
                        "legs",
                        "totalInAtomic",
                        "improvementBps",
                        "maxSignatures",
                        "expiresAt",
                        "indicative",
                        "baseline",
                        "measuredImpactBps",
                        "fees"
                      ]
                    },
                    "twapPlan": {
                      "type": "object",
                      "properties": {
                        "slices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "amountInAtomic": {
                                "type": "string"
                              },
                              "amountInNetAtomic": {
                                "type": "string"
                              },
                              "offsetSeconds": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "amountInAtomic",
                              "amountInNetAtomic",
                              "offsetSeconds"
                            ]
                          },
                          "minItems": 2
                        },
                        "intervalSeconds": {
                          "type": "integer"
                        },
                        "totalInAtomic": {
                          "type": "string"
                        },
                        "improvementBps": {
                          "type": "number"
                        },
                        "residualImpactBps": {
                          "type": "number"
                        },
                        "sliceImpactBps": {
                          "type": "number"
                        },
                        "referenceVenue": {
                          "type": "string"
                        },
                        "fees": {
                          "type": "object",
                          "properties": {
                            "bps": {
                              "type": "integer"
                            },
                            "amountInNetAtomic": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "bps",
                            "amountInNetAtomic"
                          ]
                        }
                      },
                      "required": [
                        "slices",
                        "intervalSeconds",
                        "totalInAtomic",
                        "improvementBps",
                        "residualImpactBps",
                        "sliceImpactBps",
                        "referenceVenue",
                        "fees"
                      ]
                    },
                    "planReason": {
                      "type": "string",
                      "enum": [
                        "below_floor",
                        "single_venue_best",
                        "no_improvement"
                      ]
                    },
                    "expiresAt": {
                      "type": "integer",
                      "nullable": true
                    },
                    "decidedAt": {
                      "type": "integer"
                    },
                    "elapsedMs": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "decisionId",
                    "quoteSessionId",
                    "best",
                    "bestByPrice",
                    "bestByTime",
                    "quotes",
                    "amountInNetAtomic",
                    "rejected",
                    "privacy",
                    "emptyReason",
                    "fees",
                    "expiresAt",
                    "decidedAt",
                    "elapsedMs"
                  ]
                },
                "example": {
                  "decisionId": "fb0798dc-97d2-41f2-8786-ace0b1c40722",
                  "quoteSessionId": "fb0798dc-97d2-41f2-8786-ace0b1c40722",
                  "best": {
                    "feeBps": 5,
                    "feeAmountAtomic": "50000",
                    "referralFeeAmountAtomic": "0",
                    "netOutAfterFeeAtomic": "99937006",
                    "amountInNetAtomic": "99950000",
                    "tierSavedBps": 55,
                    "venue": "across",
                    "executable": true,
                    "eligibility": "ok",
                    "amountInAtomic": "99950000",
                    "amountOutAtomic": "99937006",
                    "minAmountOutAtomic": "99937006",
                    "netOutAtomic": "99937006",
                    "netInAtomic": "99950000",
                    "rankBasis": "netOutAtomic",
                    "rankAtomic": "99937006",
                    "fees": [
                      {
                        "kind": "VENUE_OTHER",
                        "tokenAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                        "decimals": 6,
                        "amountAtomic": "9",
                        "deductedFrom": "output",
                        "amountUsd": 0.000009664307999998,
                        "label": "Swap impact"
                      },
                      {
                        "kind": "PROTOCOL",
                        "tokenAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                        "decimals": 6,
                        "amountAtomic": "12994",
                        "deductedFrom": "output",
                        "amountUsd": 0.012990335692000001,
                        "label": "Bridge fee"
                      }
                    ],
                    "estimatedSeconds": 8,
                    "expiresAt": 1789929584798,
                    "quoteId": "j9rjf-1789929523328-a31b7f5929b9",
                    "postStep": null
                  },
                  "bestByPrice": "j9rjf-1789929523328-a31b7f5929b9",
                  "bestByTime": "0x1789929524ca26112477ff817da2653de7c5295b92f658dc8ba32b5b867126f7",
                  "quotes": [
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "99937006",
                      "amountInNetAtomic": "99950000",
                      "tierSavedBps": 55,
                      "venue": "across",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "99950000",
                      "amountOutAtomic": "99937006",
                      "minAmountOutAtomic": "99937006",
                      "netOutAtomic": "99937006",
                      "netInAtomic": "99950000",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "99937006",
                      "fees": [
                        {
                          "kind": "VENUE_OTHER",
                          "tokenAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                          "decimals": 6,
                          "amountAtomic": "9",
                          "deductedFrom": "output",
                          "amountUsd": 0.000009664307999998,
                          "label": "Swap impact"
                        },
                        {
                          "kind": "PROTOCOL",
                          "tokenAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                          "decimals": 6,
                          "amountAtomic": "12994",
                          "deductedFrom": "output",
                          "amountUsd": 0.012990335692000001,
                          "label": "Bridge fee"
                        }
                      ],
                      "estimatedSeconds": 8,
                      "expiresAt": 1789929584798,
                      "quoteId": "j9rjf-1789929523328-a31b7f5929b9",
                      "postStep": null
                    },
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "99924264",
                      "amountInNetAtomic": "99950000",
                      "tierSavedBps": 54,
                      "venue": "near-intents",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "99950000",
                      "amountOutAtomic": "99934258",
                      "minAmountOutAtomic": "98934915",
                      "netOutAtomic": "99924264",
                      "netInAtomic": "99959995",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "99924264",
                      "fees": [
                        {
                          "kind": "PROTOCOL",
                          "tokenAddress": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                          "decimals": 6,
                          "amountAtomic": "9995",
                          "deductedFrom": "input",
                          "label": "appFees 1bps -> 5880ad2b362620fadf759cbceb1cd5737ce8c6ed7fb8e9942881e6731f9247dd"
                        },
                        {
                          "kind": "DESTINATION_GAS",
                          "tokenAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                          "decimals": 6,
                          "amountAtomic": "10284",
                          "deductedFrom": "output",
                          "label": "withdrawFee"
                        }
                      ],
                      "estimatedSeconds": 32,
                      "expiresAt": 1789929584667,
                      "quoteId": "4c7cb5c2-7f21-4c1d-9b14-a54042ebf5e6",
                      "postStep": null
                    },
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "99897862",
                      "amountInNetAtomic": "99950000",
                      "tierSavedBps": 51,
                      "venue": "mayan",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "99950000",
                      "amountOutAtomic": "99897862",
                      "minAmountOutAtomic": "99897862",
                      "netOutAtomic": "99897862",
                      "netInAtomic": "99950000",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "99897862",
                      "fees": [],
                      "estimatedSeconds": 3,
                      "expiresAt": 1789930410000,
                      "quoteId": "0x78f8ac06b03803b3751820a68a6c564f",
                      "postStep": null
                    },
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "99895873",
                      "amountInNetAtomic": "99950000",
                      "tierSavedBps": 51,
                      "venue": "relay",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "99950000",
                      "amountOutAtomic": "99895873",
                      "minAmountOutAtomic": "98896915",
                      "netOutAtomic": "99895873",
                      "netInAtomic": "99950000",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "99895873",
                      "fees": [
                        {
                          "kind": "ORIGIN_GAS",
                          "tokenAddress": null,
                          "decimals": 18,
                          "amountAtomic": "1570738564292",
                          "deductedFrom": "gas",
                          "amountUsd": 0.004136,
                          "label": "origin network fee"
                        },
                        {
                          "kind": "DESTINATION_GAS",
                          "tokenAddress": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                          "decimals": 6,
                          "amountAtomic": "4142",
                          "deductedFrom": "output",
                          "amountUsd": 0.004142,
                          "label": "destination fill gas"
                        },
                        {
                          "kind": "SOLVER",
                          "tokenAddress": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                          "decimals": 6,
                          "amountAtomic": "49985",
                          "deductedFrom": "output",
                          "amountUsd": 0.049983,
                          "label": "solver service fee (signed: negative is a rebate)"
                        }
                      ],
                      "estimatedSeconds": 1,
                      "expiresAt": 1789929584936,
                      "quoteId": "0x1789929524ca26112477ff817da2653de7c5295b92f658dc8ba32b5b867126f7",
                      "postStep": null
                    },
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "99850050",
                      "amountInNetAtomic": "99950000",
                      "tierSavedBps": 46,
                      "venue": "allbridge-core",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "99950000",
                      "amountOutAtomic": "99850050",
                      "minAmountOutAtomic": "98851549",
                      "netOutAtomic": "99850050",
                      "netInAtomic": "99950000",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "99850050",
                      "fees": [
                        {
                          "kind": "PROTOCOL",
                          "tokenAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                          "decimals": 6,
                          "amountAtomic": "99950",
                          "deductedFrom": "output",
                          "label": "cctp service fee (0.001)"
                        },
                        {
                          "kind": "ORIGIN_GAS",
                          "tokenAddress": null,
                          "decimals": 18,
                          "amountAtomic": "150628430404739",
                          "deductedFrom": "gas",
                          "label": "Allbridge relayer fee"
                        }
                      ],
                      "estimatedSeconds": 1380,
                      "expiresAt": 1789929544876,
                      "quoteId": "allbridge-core:BAS-SOL:cctp:1789929523671",
                      "postStep": null
                    },
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "99781902",
                      "amountInNetAtomic": "99950000",
                      "tierSavedBps": 39,
                      "venue": "cctp",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "99950000",
                      "amountOutAtomic": "99781902",
                      "minAmountOutAtomic": "99763214",
                      "netOutAtomic": "99781902",
                      "netInAtomic": "99950000",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "99781902",
                      "fees": [
                        {
                          "kind": "PROTOCOL",
                          "tokenAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                          "decimals": 6,
                          "amountAtomic": "12994",
                          "deductedFrom": "output",
                          "label": "Circle CCTP Fast fee (1.3 bps)"
                        },
                        {
                          "kind": "DESTINATION_GAS",
                          "tokenAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                          "decimals": 6,
                          "amountAtomic": "155104",
                          "deductedFrom": "output",
                          "label": "Circle Forwarding Service fee and destination gas"
                        }
                      ],
                      "estimatedSeconds": 30,
                      "expiresAt": 1789929824667,
                      "quoteId": "cctp:6:5:1000:100000000:1789929523130",
                      "postStep": null
                    },
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "99698454",
                      "amountInNetAtomic": "99950000",
                      "tierSavedBps": 30,
                      "venue": "skip-go",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "99950000",
                      "amountOutAtomic": "99698454",
                      "minAmountOutAtomic": "99698454",
                      "netOutAtomic": "99698454",
                      "netInAtomic": "99950000",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "99698454",
                      "fees": [
                        {
                          "kind": "SOLVER",
                          "tokenAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                          "decimals": 6,
                          "amountAtomic": "251546",
                          "deductedFrom": "output",
                          "amountUsd": 0.251490408334,
                          "label": "SMART_RELAY via CCTP_V2"
                        },
                        {
                          "kind": "PROTOCOL",
                          "tokenAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                          "decimals": 6,
                          "amountAtomic": "0",
                          "deductedFrom": "output",
                          "amountUsd": 0,
                          "label": "BRIDGE via CCTP_V2"
                        }
                      ],
                      "estimatedSeconds": 1080,
                      "expiresAt": 1789929584932,
                      "quoteId": "skip-go:8453:solana:100000000:1789929523900",
                      "postStep": null
                    },
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "99610248",
                      "amountInNetAtomic": "99950000",
                      "tierSavedBps": 21,
                      "venue": "layerswap",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "99950000",
                      "amountOutAtomic": "99642078",
                      "minAmountOutAtomic": "98645657",
                      "netOutAtomic": "99610248",
                      "netInAtomic": "99981928",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "99610248",
                      "fees": [
                        {
                          "kind": "PROTOCOL",
                          "tokenAddress": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                          "decimals": 6,
                          "amountAtomic": "31928",
                          "deductedFrom": "input",
                          "amountUsd": 0.031919794504,
                          "label": "service_fee"
                        },
                        {
                          "kind": "ORIGIN_GAS",
                          "tokenAddress": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                          "decimals": 6,
                          "amountAtomic": "275993",
                          "deductedFrom": "input",
                          "amountUsd": 0.275922069799,
                          "label": "blockchain_fee"
                        }
                      ],
                      "estimatedSeconds": 23,
                      "expiresAt": 1789929584958,
                      "quoteId": "layerswap:BASE_MAINNET:USDC->SOLANA_MAINNET:USDC:100000000@1789929524279",
                      "postStep": null
                    },
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "99550000",
                      "amountInNetAtomic": "99950000",
                      "tierSavedBps": 14,
                      "venue": "eco",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "99950000",
                      "amountOutAtomic": "99550000",
                      "minAmountOutAtomic": "99550000",
                      "netOutAtomic": "99550000",
                      "netInAtomic": "99950000",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "99550000",
                      "fees": [
                        {
                          "kind": "PROTOCOL",
                          "tokenAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                          "decimals": 6,
                          "amountAtomic": "400000",
                          "deductedFrom": "output",
                          "label": "Eco Protocol Fee"
                        }
                      ],
                      "estimatedSeconds": 20,
                      "expiresAt": 1789930694000,
                      "quoteId": "eco-0faa7a2076ea236fe978234a0c10ecb1",
                      "postStep": null
                    },
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "99400900",
                      "amountInNetAtomic": "100000000",
                      "tierSavedBps": 4,
                      "venue": "lifi",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "100000000",
                      "amountOutAtomic": "99700000",
                      "minAmountOutAtomic": "99700000",
                      "netOutAtomic": "99400900",
                      "netInAtomic": "100300000",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "99400900",
                      "fees": [
                        {
                          "kind": "ORIGIN_GAS",
                          "tokenAddress": null,
                          "decimals": 18,
                          "amountAtomic": "3492170000000",
                          "deductedFrom": "gas",
                          "amountUsd": 0.0092,
                          "label": "SEND"
                        },
                        {
                          "kind": "PROTOCOL",
                          "tokenAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                          "decimals": 6,
                          "amountAtomic": "250000",
                          "deductedFrom": "input",
                          "label": "LIFI Fixed Fee"
                        },
                        {
                          "kind": "APP",
                          "tokenAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                          "decimals": 6,
                          "amountAtomic": "50000",
                          "deductedFrom": "input",
                          "label": "LIFI Fixed Fee"
                        }
                      ],
                      "estimatedSeconds": 1080,
                      "expiresAt": 1789929585411,
                      "quoteId": "cd1e315b-ce0c-46dc-9397-0737098dd4bd:0",
                      "postStep": null
                    },
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "99450100",
                      "amountInNetAtomic": "99950000",
                      "tierSavedBps": 3,
                      "venue": "husher",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "99950000",
                      "amountOutAtomic": "99450100",
                      "minAmountOutAtomic": "0",
                      "netOutAtomic": "99450100",
                      "netInAtomic": "99950000",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "99450100",
                      "fees": [
                        {
                          "kind": "PROTOCOL",
                          "tokenAddress": null,
                          "decimals": 6,
                          "amountAtomic": "199900",
                          "deductedFrom": "output",
                          "label": "Husher exchange fee (already netted out of receiveAmount)"
                        },
                        {
                          "kind": "DESTINATION_GAS",
                          "tokenAddress": null,
                          "decimals": 6,
                          "amountAtomic": "300000",
                          "deductedFrom": "output",
                          "label": "Delivery withdrawal fee paid by the ESP (already netted out of receiveAmount)"
                        }
                      ],
                      "estimatedSeconds": 350,
                      "expiresAt": 1789929584957,
                      "quoteId": "husher:BASE:USDC:SOL:USDC:100000000:1789929523643",
                      "postStep": null
                    },
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "99379907",
                      "amountInNetAtomic": "99950000",
                      "tierSavedBps": -3,
                      "venue": "rhino",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "99950000",
                      "amountOutAtomic": "99379907",
                      "minAmountOutAtomic": "99379907",
                      "netOutAtomic": "99379907",
                      "netInAtomic": "99950000",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "99379907",
                      "fees": [
                        {
                          "kind": "DESTINATION_GAS",
                          "tokenAddress": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                          "decimals": 6,
                          "amountAtomic": "500128",
                          "deductedFrom": "output",
                          "label": "destination delivery (USDC)"
                        },
                        {
                          "kind": "APP",
                          "tokenAddress": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                          "decimals": 6,
                          "amountAtomic": "69965",
                          "deductedFrom": "output",
                          "label": "client surcharge (0.07%) (USDC)"
                        }
                      ],
                      "estimatedSeconds": 30,
                      "expiresAt": 1789929704855,
                      "quoteId": "6ab0283349133a7277a2f6d1",
                      "postStep": null
                    },
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "98889694",
                      "amountInNetAtomic": "100000000",
                      "tierSavedBps": -56,
                      "venue": "debridge",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "100000000",
                      "amountOutAtomic": "98889694",
                      "minAmountOutAtomic": "98889694",
                      "netOutAtomic": "98889694",
                      "netInAtomic": "100000000",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "98889694",
                      "fees": [
                        {
                          "kind": "PROTOCOL",
                          "tokenAddress": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                          "decimals": 6,
                          "amountAtomic": "40000",
                          "deductedFrom": "output",
                          "amountUsd": 0.04,
                          "label": "DlnProtocolFee"
                        },
                        {
                          "kind": "APP",
                          "tokenAddress": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                          "decimals": 6,
                          "amountAtomic": "49980",
                          "deductedFrom": "output",
                          "label": "AffiliateFee"
                        },
                        {
                          "kind": "SOLVER",
                          "tokenAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                          "decimals": 6,
                          "amountAtomic": "39964",
                          "deductedFrom": "output",
                          "label": "TakerMargin"
                        },
                        {
                          "kind": "SOLVER",
                          "tokenAddress": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                          "decimals": 6,
                          "amountAtomic": "980362",
                          "deductedFrom": "output",
                          "label": "EstimatedOperatingExpenses"
                        },
                        {
                          "kind": "PROTOCOL",
                          "tokenAddress": null,
                          "decimals": 18,
                          "amountAtomic": "1000000000000000",
                          "deductedFrom": "gas",
                          "label": "fixFee"
                        }
                      ],
                      "estimatedSeconds": 1,
                      "expiresAt": 1789929555078,
                      "quoteId": "0x9b0d80b101c063a4dd71c6f5417dd1577299c1b529e13ab44cde366ad2ba66eb",
                      "postStep": null
                    },
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "98318865",
                      "amountInNetAtomic": "99950000",
                      "tierSavedBps": -117,
                      "venue": "symbiosis",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "99950000",
                      "amountOutAtomic": "98318865",
                      "minAmountOutAtomic": "97827270",
                      "netOutAtomic": "98318865",
                      "netInAtomic": "99950000",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "98318865",
                      "fees": [
                        {
                          "kind": "PROTOCOL",
                          "tokenAddress": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                          "decimals": 6,
                          "amountAtomic": "250000",
                          "deductedFrom": "output",
                          "amountUsd": 0.25,
                          "label": "Cross-chain fee"
                        },
                        {
                          "kind": "SOLVER",
                          "tokenAddress": "0xaf88d065e77c8cC2239327C5EDb3A432268e5831",
                          "decimals": 6,
                          "amountAtomic": "1007147",
                          "deductedFrom": "output",
                          "amountUsd": 1.007147,
                          "label": "ChainFlip fee"
                        }
                      ],
                      "estimatedSeconds": 169,
                      "expiresAt": 1789929555878,
                      "quoteId": "symbiosis:8453:5426:100000000:1789929524587",
                      "postStep": null
                    },
                    {
                      "feeBps": 5,
                      "feeAmountAtomic": "50000",
                      "referralFeeAmountAtomic": "0",
                      "netOutAfterFeeAtomic": "97658616",
                      "amountInNetAtomic": "99950000",
                      "tierSavedBps": -188,
                      "venue": "simpleswap",
                      "executable": true,
                      "eligibility": "ok",
                      "amountInAtomic": "99950000",
                      "amountOutAtomic": "97658616",
                      "minAmountOutAtomic": "97658616",
                      "netOutAtomic": "97658616",
                      "netInAtomic": "99950000",
                      "rankBasis": "netOutAtomic",
                      "rankAtomic": "97658616",
                      "fees": [],
                      "estimatedSeconds": null,
                      "expiresAt": 1789929645080,
                      "quoteId": "jvlvzxsocm64l0lp_v1be8b862xtk9gc",
                      "postStep": null
                    }
                  ],
                  "amountInNetAtomic": "99950000",
                  "rejected": [
                    {
                      "venue": "sideshift",
                      "code": "invalid_input",
                      "message": "SideShift requires the end-user IP (x-user-ip)"
                    },
                    {
                      "venue": "meson",
                      "code": "above_max",
                      "message": "amount-over-balance (Meson limit: 0.584909)"
                    },
                    {
                      "venue": "owlto",
                      "code": "above_max",
                      "message": "owlto: amount 100000000 is above the venue maximum 99000000"
                    }
                  ],
                  "privacy": false,
                  "emptyReason": null,
                  "fees": {
                    "platform": {
                      "bps": 5,
                      "amountAtomic": "50000",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "tierSavedBps": 55
                    },
                    "referral": null
                  },
                  "expiresAt": 1789929583533,
                  "decidedAt": 1789929523109,
                  "elapsedMs": 1479,
                  "planReason": "below_floor"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request, an unknown asset, or a signed transaction that is not what we built",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such decision or transfer, or the aggregator is switched off",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "The decision is indicative, the quote expired or drifted, the venue is ineligible, or execution is switched off",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after `retryAfterMs`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "The venue refused to build, or the broadcast was rejected",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/bridge/build": {
      "post": {
        "summary": "Build transaction",
        "description": "Turn a quote into the unsigned transactions a wallet signs. Pass `quoteId` to build a row other than `best`. `steps` is every transaction to sign, in order; only `main` moves the order. A deposit-address venue returns `deposit` instead of `steps`. `expectedOutAtomic` equals the `amountOutAtomic` of the row you built. Idempotent per `decisionId`.",
        "tags": [
          "bridge"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "decisionId": {
                    "type": "string",
                    "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                  },
                  "venue": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "quoteId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "privacy": {
                    "type": "boolean",
                    "default": false
                  },
                  "userIp": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "ip"
                      },
                      {
                        "type": "string",
                        "format": "ip"
                      }
                    ]
                  }
                },
                "required": [
                  "decisionId"
                ]
              },
              "example": {
                "decisionId": "fb0798dc-97d2-41f2-8786-ace0b1c40722"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transfer id and the unsigned steps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transferId": {
                      "type": "string"
                    },
                    "venue": {
                      "type": "string"
                    },
                    "steps": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "vm": {
                                "type": "string",
                                "enum": [
                                  "evm"
                                ]
                              },
                              "step": {
                                "type": "string",
                                "enum": [
                                  "approve",
                                  "fee",
                                  "main",
                                  "redeem"
                                ]
                              },
                              "chainId": {
                                "type": "integer"
                              },
                              "to": {
                                "type": "string"
                              },
                              "data": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              },
                              "gasLimit": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "vm",
                              "step",
                              "chainId",
                              "to",
                              "data",
                              "value"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "vm": {
                                "type": "string",
                                "enum": [
                                  "svm"
                                ]
                              },
                              "step": {
                                "type": "string",
                                "enum": [
                                  "approve",
                                  "fee",
                                  "main",
                                  "redeem"
                                ]
                              },
                              "serializedTx": {
                                "type": "string"
                              },
                              "encoding": {
                                "type": "string",
                                "enum": [
                                  "base64",
                                  "hex"
                                ]
                              },
                              "version": {
                                "type": "string",
                                "enum": [
                                  "v0",
                                  "legacy"
                                ]
                              },
                              "setPriorityFee": {
                                "type": "boolean"
                              },
                              "refreshBlockhash": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "vm",
                              "step",
                              "serializedTx",
                              "encoding",
                              "version",
                              "setPriorityFee",
                              "refreshBlockhash"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "vm": {
                                "type": "string",
                                "enum": [
                                  "deposit-address"
                                ]
                              },
                              "step": {
                                "type": "string",
                                "enum": [
                                  "approve",
                                  "fee",
                                  "main",
                                  "redeem"
                                ]
                              },
                              "venueChainId": {
                                "type": "string"
                              },
                              "address": {
                                "type": "string"
                              },
                              "memo": {
                                "type": "string"
                              },
                              "tokenAddress": {
                                "type": "string",
                                "nullable": true
                              },
                              "exactAmountAtomic": {
                                "type": "string"
                              },
                              "expiresAt": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "vm",
                              "step",
                              "venueChainId",
                              "address",
                              "tokenAddress",
                              "exactAmountAtomic",
                              "expiresAt"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "vm": {
                                "type": "string",
                                "enum": [
                                  "sign"
                                ]
                              },
                              "step": {
                                "type": "string",
                                "enum": [
                                  "approve",
                                  "fee",
                                  "main",
                                  "redeem"
                                ]
                              },
                              "scheme": {
                                "type": "string",
                                "enum": [
                                  "eip712",
                                  "eip191",
                                  "ed25519",
                                  "nep413"
                                ]
                              },
                              "payload": {
                                "nullable": true
                              }
                            },
                            "required": [
                              "vm",
                              "step",
                              "scheme"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "vm": {
                                "type": "string",
                                "enum": [
                                  "utxo"
                                ]
                              },
                              "step": {
                                "type": "string",
                                "enum": [
                                  "approve",
                                  "fee",
                                  "main",
                                  "redeem"
                                ]
                              },
                              "outputs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string"
                                    },
                                    "valueSats": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "address",
                                    "valueSats"
                                  ]
                                }
                              },
                              "memo": {
                                "type": "string"
                              },
                              "feeRateSatsPerVbyte": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "vm",
                              "step",
                              "outputs"
                            ]
                          },
                          {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "vm": {
                                    "type": "string",
                                    "enum": [
                                      "tron"
                                    ]
                                  },
                                  "step": {
                                    "type": "string",
                                    "enum": [
                                      "approve",
                                      "fee",
                                      "main",
                                      "redeem"
                                    ]
                                  },
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "call"
                                    ]
                                  },
                                  "contract": {
                                    "type": "string"
                                  },
                                  "data": {
                                    "type": "string"
                                  },
                                  "callValueSun": {
                                    "type": "string"
                                  },
                                  "feeLimitSun": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "vm",
                                  "step",
                                  "kind",
                                  "contract",
                                  "data",
                                  "callValueSun",
                                  "feeLimitSun"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "vm": {
                                    "type": "string",
                                    "enum": [
                                      "tron"
                                    ]
                                  },
                                  "step": {
                                    "type": "string",
                                    "enum": [
                                      "approve",
                                      "fee",
                                      "main",
                                      "redeem"
                                    ]
                                  },
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "transfer"
                                    ]
                                  },
                                  "toAddress": {
                                    "type": "string"
                                  },
                                  "amountSun": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "vm",
                                  "step",
                                  "kind",
                                  "toAddress",
                                  "amountSun"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "vm": {
[...]
