{
  "openapi": "3.1.0",
  "info": {
    "title": "Bridg API",
    "version": "1.0.0",
    "description": "Quote, build, submit and track cross-chain transfers across every venue Bridg aggregates."
  },
  "servers": [
    {
      "url": "https://api.bridg.now/v1"
    }
  ],
  "components": {
    "schemas": {
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "atomic": {
            "type": "string",
            "nullable": true
          },
          "chain": {
            "type": "string",
            "enum": [
              "ethereum",
              "arbitrum",
              "optimism",
              "base",
              "polygon",
              "bnb",
              "avalanche",
              "linea",
              "scroll",
              "zksync",
              "mantle",
              "blast",
              "mode",
              "gnosis",
              "celo",
              "unichain",
              "sonic",
              "ink",
              "plume",
              "worldchain",
              "monad",
              "sei",
              "xlayer",
              "plasma",
              "berachain",
              "hyperevm",
              "stable",
              "robinhood",
              "arc",
              "fantom",
              "zircuit",
              "lisk",
              "soneium",
              "abstract",
              "taiko",
              "metis",
              "moonbeam",
              "aurora",
              "cronos",
              "opbnb",
              "ronin",
              "rootstock",
              "citrea",
              "botanix",
              "katana",
              "solana",
              "fogo",
              "eclipse",
              "bitcoin",
              "litecoin",
              "dogecoin",
              "bitcoincash",
              "zcash",
              "dash",
              "sui",
              "aptos",
              "movement",
              "starknet",
              "tron",
              "ton",
              "stellar",
              "cardano",
              "xrpl",
              "near",
              "algorand",
              "polkadot",
              "assethub",
              "injective",
              "noble",
              "osmosis",
              "cosmoshub",
              "hypercore",
              "lighter"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "failed",
              "not_configured",
              "ok",
              "unsupported"
            ]
          },
          "token": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "atomic",
          "chain",
          "status",
          "token"
        ]
      },
      "BalanceErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "unauthorized",
              "wallet_not_yours"
            ]
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "BalanceRequest": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "chain": {
            "type": "string",
            "enum": [
              "ethereum",
              "arbitrum",
              "optimism",
              "base",
              "polygon",
              "bnb",
              "avalanche",
              "linea",
              "scroll",
              "zksync",
              "mantle",
              "blast",
              "mode",
              "gnosis",
              "celo",
              "unichain",
              "sonic",
              "ink",
              "plume",
              "worldchain",
              "monad",
              "sei",
              "xlayer",
              "plasma",
              "berachain",
              "hyperevm",
              "stable",
              "robinhood",
              "arc",
              "fantom",
              "zircuit",
              "lisk",
              "soneium",
              "abstract",
              "taiko",
              "metis",
              "moonbeam",
              "aurora",
              "cronos",
              "opbnb",
              "ronin",
              "rootstock",
              "citrea",
              "botanix",
              "katana",
              "solana",
              "fogo",
              "eclipse",
              "bitcoin",
              "litecoin",
              "dogecoin",
              "bitcoincash",
              "zcash",
              "dash",
              "sui",
              "aptos",
              "movement",
              "starknet",
              "tron",
              "ton",
              "stellar",
              "cardano",
              "xrpl",
              "near",
              "algorand",
              "polkadot",
              "assethub",
              "injective",
              "noble",
              "osmosis",
              "cosmoshub",
              "hypercore",
              "lighter"
            ]
          },
          "token": {
            "type": "string",
            "nullable": true,
            "minLength": 1,
            "maxLength": 128,
            "default": null
          }
        },
        "required": [
          "address",
          "chain"
        ]
      },
      "PortfolioResponse": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PortfolioRow"
            }
          }
        },
        "required": [
          "rows"
        ]
      },
      "PortfolioRow": {
        "type": "object",
        "properties": {
          "atomic": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "failed",
              "not_configured",
              "ok",
              "unsupported"
            ]
          }
        },
        "required": [
          "atomic",
          "status"
        ]
      },
      "PortfolioRequest": {
        "type": "object",
        "properties": {
          "chains": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ethereum",
                "arbitrum",
                "optimism",
                "base",
                "polygon",
                "bnb",
                "avalanche",
                "linea",
                "scroll",
                "zksync",
                "mantle",
                "blast",
                "mode",
                "gnosis",
                "celo",
                "unichain",
                "sonic",
                "ink",
                "plume",
                "worldchain",
                "monad",
                "sei",
                "xlayer",
                "plasma",
                "berachain",
                "hyperevm",
                "stable",
                "robinhood",
                "arc",
                "fantom",
                "zircuit",
                "lisk",
                "soneium",
                "abstract",
                "taiko",
                "metis",
                "moonbeam",
                "aurora",
                "cronos",
                "opbnb",
                "ronin",
                "rootstock",
                "citrea",
                "botanix",
                "katana",
                "solana",
                "fogo",
                "eclipse",
                "bitcoin",
                "litecoin",
                "dogecoin",
                "bitcoincash",
                "zcash",
                "dash",
                "sui",
                "aptos",
                "movement",
                "starknet",
                "tron",
                "ton",
                "stellar",
                "cardano",
                "xrpl",
                "near",
                "algorand",
                "polkadot",
                "assethub",
                "injective",
                "noble",
                "osmosis",
                "cosmoshub",
                "hypercore",
                "lighter"
              ]
            },
            "maxItems": 73
          },
          "address": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        }
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Service health",
        "description": "Reachability of every dependency. Fails closed: any probe that errors or times out reports `down`, and `ok` is false unless all of them are `up`.",
        "tags": [
          "health"
        ],
        "responses": {
          "200": {
            "description": "Every dependency is reachable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "at": {
                      "type": "integer"
                    },
                    "db": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ]
                    },
                    "ok": {
                      "type": "boolean"
                    },
                    "realtime": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ]
                    },
                    "redis": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ]
                    }
                  },
                  "required": [
                    "at",
                    "db",
                    "ok",
                    "realtime",
                    "redis"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "At least one dependency is unreachable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "at": {
                      "type": "integer"
                    },
                    "db": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ]
                    },
                    "ok": {
                      "type": "boolean"
                    },
                    "realtime": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ]
                    },
                    "redis": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ]
                    }
                  },
                  "required": [
                    "at",
                    "db",
                    "ok",
                    "realtime",
                    "redis"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/nonce": {
      "post": {
        "summary": "Request a sign-in challenge",
        "description": "Returns a single-use nonce and the exact message the wallet must sign - EIP-4361 for `evm`, the Sign-In-With-Solana form for `solana`, the same grammar with a Tron account noun for `tron` (signed TIP-191, which is what `tronWeb.trx.signMessageV2` produces). Sign the `message` verbatim - a re-rendered message with the same fields will not verify. The challenge is BOUND TO THE CALLER who asked for it: send the same credential (cookie or bearer) to this call and to `/auth/verify`, or send none to both. A challenge asked for anonymously and answered with a session, or asked for under one session and answered under another, is refused as `nonce_not_found` - which is what stops a captured signature being posted under somebody else's session to link the wallet to their account.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "chainFamily": {
                    "type": "string",
                    "enum": [
                      "evm",
                      "solana",
                      "tron",
                      "bitcoin",
                      "sui"
                    ]
                  }
                },
                "required": [
                  "address",
                  "chainFamily"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The challenge and the message to sign",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expiresAt": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "nonce": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "expiresAt",
                    "message",
                    "nonce"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request or address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The signature, domain, nonce or expiry did not check out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after `retryAfterMs`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify": {
      "post": {
        "summary": "Verify a signed message and mint a session",
        "description": "Verifies the signature, the domain, the nonce and the expiry, creates the user on a first sign-in, and returns a session token. The same session is also set as an httpOnly cookie for the browser app. Called WITH a session, it is the link-another-wallet flow: an address nobody has claimed is attached to the user the request is already signed in as, while an address that already belongs to somebody still resolves to its own owner.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chainFamily": {
                    "type": "string",
                    "enum": [
                      "evm",
                      "solana",
                      "tron",
                      "bitcoin",
                      "sui"
                    ]
                  },
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 512
                  }
                },
                "required": [
                  "chainFamily",
                  "message",
                  "signature"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A session was minted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expiresAt": {
                      "type": "integer"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "username"
                      ]
                    },
                    "wallets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "chainFamily": {
                            "type": "string",
                            "enum": [
                              "evm",
                              "solana",
                              "tron",
                              "bitcoin",
                              "sui"
                            ]
                          },
                          "linkedAt": {
                            "type": "integer"
                          },
                          "nickname": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "address",
                          "chainFamily",
                          "linkedAt",
                          "nickname"
                        ]
                      }
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "expiresAt",
                    "user",
                    "wallets",
                    "token"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request or address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The signature, domain, nonce or expiry did not check out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after `retryAfterMs`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/session": {
      "get": {
        "summary": "The signed-in user",
        "description": "Requires a session, as a bearer token or the session cookie.",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "The user and every wallet they have proved control of",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expiresAt": {
                      "type": "integer"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "username"
                      ]
                    },
                    "wallets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "chainFamily": {
                            "type": "string",
                            "enum": [
                              "evm",
                              "solana",
                              "tron",
                              "bitcoin",
                              "sui"
                            ]
                          },
                          "linkedAt": {
                            "type": "integer"
                          },
                          "nickname": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "address",
                          "chainFamily",
                          "linkedAt",
                          "nickname"
                        ]
                      }
                    }
                  },
                  "required": [
                    "expiresAt",
                    "user",
                    "wallets"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request or address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The signature, domain, nonce or expiry did not check out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after `retryAfterMs`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/balance": {
      "post": {
        "summary": "A wallet's balance of one asset on one chain",
        "description": "Requires a session, and the address must be one the caller has linked - this is not a balance oracle for arbitrary addresses. Answers `status` rather than a number: `ok` carries `atomic`, and `not_configured`, `failed` and `unsupported` carry a null balance that a client must never render as zero.",
        "tags": [
          "balance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The balance, or the honest reason there is not one",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "No session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "That wallet is not linked to the caller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/balance/portfolio": {
      "post": {
        "summary": "Everything the caller holds, across every chain their wallets can sign for",
        "description": "Requires a session, and takes NO address: the wallets are read off the session, so this cannot be pointed at somebody else. One row per asset actually read, keyed `<chainKey>:<token|native>`. A chain the caller has no wallet for contributes NO rows at all - absent means unknown, and unknown is never zero. Costs one RPC call per chain that has both an endpoint and a wallet, never one per token.",
        "tags": [
          "balance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The rows that could be read, partial by construction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioResponse"
                }
              }
            }
          },
          "401": {
            "description": "No session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "The narrowing address is not linked to the caller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "Revoke the current session",
        "description": "Idempotent: revoking an already-dead session is a success, and reports `revoked: false`.",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "The cookie is cleared and any live session is revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "revoked"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request or address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The signature, domain, nonce or expiry did not check out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after `retryAfterMs`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/wallets/{chainFamily}/{address}": {
      "delete": {
        "summary": "Unlink a wallet from the caller",
        "description": "Requires a session. Removes the wallet from the caller's account and revokes the sessions that wallet minted, leaving sessions from their other wallets alone. Idempotent: unlinking a wallet that is not linked succeeds with `unlinked: false`. Refused with `last_wallet` (409) when it is the caller's only wallet - a user must keep a way to sign in - and with `wallet_not_yours` (403) when the address belongs to somebody else, which is all it ever says about them. Unlinking the wallet the CURRENT session was minted from succeeds and returns `signedOut: true`; that session is dead from this point and the cookie is cleared.",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "required": true,
            "name": "address",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "evm",
                "solana",
                "tron",
                "bitcoin",
                "sui"
              ]
            },
            "required": true,
            "name": "chainFamily",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The wallet is unlinked, or was not linked to begin with",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signedOut": {
                      "type": "boolean"
                    },
                    "unlinked": {
                      "type": "boolean"
                    },
                    "wallets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "chainFamily": {
                            "type": "string",
                            "enum": [
                              "evm",
                              "solana",
                              "tron",
                              "bitcoin",
                              "sui"
                            ]
                          },
                          "linkedAt": {
                            "type": "integer"
                          },
                          "nickname": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "address",
                          "chainFamily",
                          "linkedAt",
                          "nickname"
                        ]
                      }
                    }
                  },
                  "required": [
                    "signedOut",
                    "unlinked",
                    "wallets"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request or address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The signature, domain, nonce or expiry did not check out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The wallet belongs to another user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "It is the caller's only wallet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after `retryAfterMs`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Name one of the caller's wallets",
        "description": "Requires a session. A nickname of up to 24 characters for a wallet the caller has linked, shown in their profile and as a pick in the recipient menu; null clears it. Never shown on the public board.",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "required": true,
            "name": "address",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "evm",
                "solana",
                "tron",
                "bitcoin",
                "sui"
              ]
            },
            "required": true,
            "name": "chainFamily",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nickname": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 64
                  }
                },
                "required": [
                  "nickname"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Every wallet on the account, with its name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "chainFamily": {
                            "type": "string",
                            "enum": [
                              "evm",
                              "solana",
                              "tron",
                              "bitcoin",
                              "sui"
                            ]
                          },
                          "linkedAt": {
                            "type": "integer"
                          },
                          "nickname": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "address",
                          "chainFamily",
                          "linkedAt",
                          "nickname"
                        ]
                      }
                    }
                  },
                  "required": [
                    "wallets"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request or address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The signature, domain, nonce or expiry did not check out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The wallet belongs to another user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after `retryAfterMs`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/profile": {
      "patch": {
        "summary": "Set the caller's public name",
        "description": "Requires a session. The name the leaderboard shows in place of the primary wallet: 3 to 24 letters, digits or underscores, unique without regard to case; null clears it.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 64
                  }
                },
                "required": [
                  "username"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The name as stored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "username"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request or address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The signature, domain, nonce or expiry did not check out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Somebody else holds that name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after `retryAfterMs`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invalid_request",
                            "invalid_address",
                            "nonce_not_found",
                            "nonce_already_used",
                            "domain_mismatch",
                            "message_expired",
                            "issued_at_out_of_range",
                            "invalid_signature",
                            "rate_limited",
                            "unauthorized",
                            "invalid_username",
                            "username_taken",
                            "invalid_nickname",
                            "last_wallet",
                            "wallet_not_yours"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfterMs": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/realtime/connection-token": {
      "post": {
        "summary": "Mint a Centrifugo connection token",
        "description": "Open to anonymous callers. The token binds a websocket to a subject and grants nothing on its own - every namespace requires a per-channel subscription token as well. `subject` is returned so an anonymous client can present it when asking for one, and send it back HERE when refreshing: Centrifugo drops a connection whose refreshed token names a different subject. A signed-in caller is always their own user id, whatever they send.",
        "tags": [
          "realtime"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subject": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The connection token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "minLength": 1
                    },
                    "subject": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128
                    },
                    "expiresAt": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "token",
                    "subject",
                    "expiresAt"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/realtime/subscription-token": {
      "post": {
        "summary": "Mint a subscription token for one channel",
        "description": "Authorizes the caller for the channel and signs a token scoped to it. `leaderboard:global` and `quotes:{corridorKey}` are public - a corridor board carries no user data; `transfers:{transferId}` requires a wallet sign-in and the transfer being the caller's. Every refusal is 403 with the same code - the endpoint does not say which of \"no such channel\" and \"not yours\" applied.",
        "tags": [
          "realtime"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 255
                  },
                  "subject": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "channel"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The channel-scoped token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "minLength": 1
                    },
                    "channel": {
                      "type": "string",
                      "minLength": 1
                    },
                    "subject": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128
                    },
                    "expiresAt": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "token",
                    "channel",
                    "subject",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller may not subscribe to that channel",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "channel_forbidden"
                          ]
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/bridge/quote": {
      "post": {
        "summary": "Price a transfer across every venue that can serve it",
        "description": "Fans out over the corridor, ranks the answers in the destination asset’s own atomic units, and returns the whole table plus a `decisionId` to build against. OPEN: no api key and no session, bounded by per-IP and per-wallet rate limits. Sign in, or supply `sender`, so the venues can price calldata for a wallet. `indicative: true` is comparison pricing that reserves nothing and can never be built against.",
        "tags": [
          "bridge"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fromChain": {
                    "type": "string",
                    "enum": [
                      "ethereum",
                      "arbitrum",
                      "optimism",
                      "base",
                      "polygon",
                      "bnb",
                      "avalanche",
                      "linea",
                      "scroll",
                      "zksync",
                      "mantle",
                      "blast",
                      "mode",
                      "gnosis",
                      "celo",
                      "unichain",
                      "sonic",
                      "ink",
                      "plume",
                      "worldchain",
                      "monad",
                      "sei",
                      "xlayer",
                      "plasma",
                      "berachain",
                      "hyperevm",
                      "stable",
                      "robinhood",
                      "arc",
                      "fantom",
                      "zircuit",
                      "lisk",
                      "soneium",
                      "abstract",
                      "taiko",
                      "metis",
                      "moonbeam",
                      "aurora",
                      "cronos",
                      "opbnb",
                      "ronin",
                      "rootstock",
                      "citrea",
                      "botanix",
                      "katana",
                      "solana",
                      "fogo",
                      "eclipse",
                      "bitcoin",
                      "litecoin",
                      "dogecoin",
                      "bitcoincash",
                      "zcash",
                      "dash",
                      "sui",
                      "aptos",
                      "movement",
                      "starknet",
                      "tron",
                      "ton",
                      "stellar",
                      "cardano",
                      "xrpl",
                      "near",
                      "algorand",
                      "polkadot",
                      "assethub",
                      "injective",
                      "noble",
                      "osmosis",
                      "cosmoshub",
                      "hypercore",
                      "lighter"
                    ]
                  },
                  "toChain": {
                    "type": "string",
                    "enum": [
                      "ethereum",
                      "arbitrum",
                      "optimism",
                      "base",
                      "polygon",
                      "bnb",
                      "avalanche",
                      "linea",
                      "scroll",
                      "zksync",
                      "mantle",
                      "blast",
                      "mode",
                      "gnosis",
                      "celo",
                      "unichain",
                      "sonic",
                      "ink",
                      "plume",
                      "worldchain",
                      "monad",
                      "sei",
                      "xlayer",
                      "plasma",
                      "berachain",
                      "hyperevm",
                      "stable",
                      "robinhood",
                      "arc",
                      "fantom",
                      "zircuit",
                      "lisk",
                      "soneium",
                      "abstract",
                      "taiko",
                      "metis",
                      "moonbeam",
                      "aurora",
                      "cronos",
                      "opbnb",
                      "ronin",
                      "rootstock",
                      "citrea",
                      "botanix",
                      "katana",
                      "solana",
                      "fogo",
                      "eclipse",
                      "bitcoin",
                      "litecoin",
                      "dogecoin",
                      "bitcoincash",
                      "zcash",
                      "dash",
                      "sui",
                      "aptos",
                      "movement",
                      "starknet",
                      "tron",
                      "ton",
                      "stellar",
                      "cardano",
                      "xrpl",
                      "near",
                      "algorand",
                      "polkadot",
                      "assethub",
                      "injective",
                      "noble",
                      "osmosis",
                      "cosmoshub",
                      "hypercore",
                      "lighter"
                    ]
                  },
                  "fromToken": {
                    "type": "string",
                    "nullable": true,
                    "minLength": 1,
                    "maxLength": 128,
                    "default": null
                  },
                  "toToken": {
                    "type": "string",
                    "nullable": true,
                    "minLength": 1,
                    "maxLength": 128,
                    "default": null
                  },
                  "amountAtomic": {
                    "type": "string",
                    "pattern": "^[1-9][0-9]{0,77}$"
                  },
                  "tradeType": {
                    "type": "string",
                    "enum": [
                      "EXACT_IN",
                      "MIN_OUT",
                      "EXACT_OUT"
                    ],
                    "default": "EXACT_IN"
                  },
                  "slippageBps": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 5000,
                    "default": 100
                  },
                  "sender": {
                    "type": "string",
                    "minLength": 26,
                    "maxLength": 600
                  },
                  "recipient": {
                    "type": "string",
                    "minLength": 26,
                    "maxLength": 600
                  },
                  "refundAddress": {
                    "type": "string",
                    "minLength": 26,
                    "maxLength": 600
                  },
                  "indicative": {
                    "type": "boolean",
                    "default": false
                  },
                  "referralWallet": {
                    "type": "string",
                    "minLength": 26,
                    "maxLength": 600
                  },
                  "referralBps": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 15
                  },
                  "privacy": {
                    "type": "boolean",
                    "default": false
                  },
                  "autoTwapOptOut": {
                    "type": "boolean",
                    "default": false
                  },
                  "userIp": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "ip"
                      },
                      {
                        "type": "string",
                        "format": "ip"
                      }
                    ]
                  }
                },
                "required": [
                  "fromChain",
                  "toChain",
                  "amountAtomic"
                ]
              },
              "example": {
                "fromChain": "base",
                "toChain": "solana",
                "fromToken": "USDC",
                "toToken": "USDC",
                "amountAtomic": "100000000",
                "sender": "0x58E602386DB134b1F9B1d6d390C11A2B7b486677",
                "recipient": "3BQtHR41iDPiu9skeSVzmBDpZKcKqEEDnMn6UkbAHvZz"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The ranked table, the winner, and the fee disclosure",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "decisionId": {
                      "type": "string"
                    },
                    "quoteSessionId": {
                      "type": "string"
                    },
                    "best": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "venue": {
                          "type": "string"
                        },
                        "executable": {
                          "type": "boolean"
                        },
                        "eligibility": {
                          "type": "string",
                          "enum": [
                            "ok",
                            "not_executable",
                            "ttl_too_short",
                            "unpriced",
                            "below_min",
                            "above_max",
                            "venue_error",
                            "implausible",
                            "stale"
                          ]
                        },
                        "amountInAtomic": {
                          "type": "string"
                        },
                        "amountOutAtomic": {
                          "type": "string"
                        },
                        "minAmountOutAtomic": {
                          "type": "string"
                        },
                        "netOutAtomic": {
                          "type": "string",
                          "nullable": true
                        },
                        "netInAtomic": {
                          "type": "string",
                          "nullable": true
                        },
                        "rankBasis": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "netOutAtomic",
                            "netInAtomic",
                            null
                          ]
                        },
                        "rankAtomic": {
                          "type": "string",
                          "nullable": true
                        },
                        "fees": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "kind": {
                                "type": "string",
                                "enum": [
                                  "PROTOCOL",
                                  "SOLVER",
                                  "ORIGIN_GAS",
                                  "DESTINATION_GAS",
                                  "APP",
                                  "VENUE_OTHER"
                                ]
                              },
                              "tokenAddress": {
                                "type": "string",
                                "nullable": true
                              },
                              "decimals": {
                                "type": "integer"
                              },
                              "amountAtomic": {
                                "type": "string"
                              },
                              "amountUsd": {
                                "type": "number"
                              },
                              "deductedFrom": {
                                "type": "string",
                                "enum": [
                                  "input",
                                  "output",
                                  "gas"
                                ]
                              },
                              "label": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "kind",
                              "tokenAddress",
                              "decimals",
                              "amountAtomic",
                              "deductedFrom"
                            ]
                          }
                        },
                        "feeBps": {
                          "type": "integer"
                        },
                        "feeAmountAtomic": {
                          "type": "string"
                        },
                        "referralFeeAmountAtomic": {
                          "type": "string"
                        },
                        "netOutAfterFeeAtomic": {
                          "type": "string",
                          "nullable": true
                        },
                        "amountInNetAtomic": {
                          "type": "string"
                        },
                        "tierSavedBps": {
                          "type": "integer",
                          "nullable": true
                        },
                        "estimatedSeconds": {
                          "type": "integer",
                          "nullable": true
                        },
                        "expiresAt": {
                          "type": "integer"
                        },
                        "quoteId": {
                          "type": "string"
                        },
                        "postStep": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": [
                                "hypercore_deposit"
                              ]
                            },
                            "chain": {
                              "type": "string",
                              "enum": [
                                "arbitrum"
                              ]
                            },
                            "vm": {
                              "type": "string",
                              "enum": [
                                "evm"
                              ]
                            }
                          },
                          "required": [
                            "kind",
                            "chain",
                            "vm"
                          ]
                        }
                      },
                      "required": [
                        "venue",
                        "executable",
                        "eligibility",
                        "amountInAtomic",
                        "amountOutAtomic",
                        "minAmountOutAtomic",
                        "netOutAtomic",
                        "netInAtomic",
                        "rankBasis",
                        "rankAtomic",
                        "fees",
                        "feeBps",
                        "feeAmountAtomic",
                        "referralFeeAmountAtomic",
[...]
